################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin
/src/.vs
*.user
/.vs
/src/data.sqlite
/src/TestProject/obj/Debug/net6.0
/src/TestProject/obj
/src/TestProject/bin/Debug/net6.0
/TestProject/bin/Debug/net6.0
/TestProject/obj
/TestProject/bin/Release/net6.0
