################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/obj
/src/bin
/src/.vs
*.user
/.vs
/src/data.sqlite
/TestProject/bin
/TestProject/obj
/src/wwwroot/BackupDir
/src/wwwroot/ExportDir
