@page
@model WebApplicationConges.Pages.Services.EditModel
@{
    ViewData["Title"] = "Edition du service";
}

<h3>Gestion des services</h3>
<div asp-validation-summary="All" class="text-danger"></div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#service0">Mettre à jour le service</a></li>
    <li><a data-toggle="tab" href="#service1">Les membres du service</a></li>
</ul>

<div class="tab-content">
    <div id="service0" class="tab-pane fade in active">
        <form role="form" method="post">
            <div class="form-group">
                <label asp-for="Service.Name">Nom du service</label>
                <input asp-for="Service.Name" type="text" class="form-control" placeholder="Nom du service" maxlength="49" />
                <span asp-validation-for="Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Description">Description</label>
                <textarea asp-for="Service.Description" class="form-control" maxlength="254"></textarea>
                <span asp-validation-for="Service.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerId">Manager du service</label>
                @Html.DropDownListFor(x => Model.ManagerId, new SelectList(Model.Users, "Email", "Name"), htmlAttributes: new { @class = "form-control", id = "ManagerId" })
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>

            <input asp-for="Service.Id" type="hidden" class="form-control" />
            <button type="submit" class="btn btn-default">Modifier</button>
        </form>
    </div>

    <div id="service1" class="tab-pane fade">
        @if (Model.Members.Count() <= 0)
        {
            <br />
            <p>Personne dans ce service pour le moment</p>
        }
        else
        {
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.Members.Count; j++)
                        {
                            <tr>
                                <td>@Model.Members[j].FamilyName</td>
                                <td>@Model.Members[j].Surname</td>
                                <td>@Model.Members[j].Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
