@page
@model AboutModel
@{
    ViewData["Title"] = "A propos";
}

<address>
    <br/>
    Propriété exclusive de CGI Formation. @Model.Date Tous droits réservés.<br />
    Version  @Model.Version<br />
    <br />
    <a href="https://www.cgi-formation.fr/" target="_blank"><img src="~/images/logo.png" width="90" alt="CGI Formation"></a>
</address>