@page
@model WebApplicationConges.Pages.Conges.CreateModel

@section Header
    {
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery.timepicker.min.css">
}

@{
    ViewData["Title"] = "Create";
}

<h3>Demande de congé</h3>
<br />
<div asp-validation-summary="All" class="text-danger"></div>

<form class="d-grid gap-3" role="form" method="post">
    <div class="row">
        <div class="col-md-2">
            <label for="CgType" class="col-form-label">Type de demande</label>
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(x => Model.CgType, new SelectList(Model.CgTypes, "Value", "Key"), htmlAttributes: new { @class = "form-select", id = "CgType", @onchange = "CallChangefunc(this.value)" })
            <span asp-validation-for="CgType" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="datepickerBegin" class="col-form-label">Début</label>
        </div>
        <div class="col-md-2">
            <input asp-for="DateBegin" type="text" id="datepickerBegin" class="form-control" autocomplete="off" placeholder="Début de vos congés" />
            <span asp-validation-for="DateBegin" class="text-danger"></span>
        </div>

        <div class="col-md-2" id="amLabel">
            <label for="BeginInterval" class="col-form-label">Commence le</label>
        </div>

        <div class="col-md-2" id="amInput">
            @Html.DropDownListFor(x => Model.IntervalTypeBegin, new SelectList(Model.IntervalTypes, "Value", "Key"), htmlAttributes: new { @class = "form-select", id = "BeginInterval" })
        </div>
        
        <div class="row col-md-2" style="display:none;" id="hourBegin">
            <label for="InputHourBegin" class="col-md-2 col-form-label">de</label>
            <div class="col-md-6">
                <input id="InputHourBegin" asp-for="HourBegin" type="text" class="form-control" autocomplete="off" placeholder="Heure">
                <span asp-validation-for="HourBegin" class="text-danger"></span>
            </div>
        </div>        
        
        <div class="row col-md-2" style="display:none;" id="hourEnd">
            <label for="InputHourEnd" class="col-md-2 col-form-label">à</label>
            <div class="col-md-6">
                <input id="InputHourEnd" asp-for="HourEnd" type="text" class="form-control" autocomplete="off" placeholder="Heure">
                <span asp-validation-for="HourEnd" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-auto">
        </div>
    </div>

    <div class="row" id="pm">
        <div class="col-md-2">
            <label for="datepickerEnd" class="col-form-label">Fin</label>
        </div>
        <div class="col-md-2">
            <input asp-for="DateEnd" type="text" id="datepickerEnd" class="form-control" autocomplete="off" placeholder="Fin de vos congés" />
            <span asp-validation-for="DateEnd" class="text-danger"></span>
        </div>

        <div class="col-md-2">
            <label for="EndInterval" class="col-form-label">Termine le</label>
        </div>

        <div class="col-md-2">
            @Html.DropDownListFor(x => Model.IntervalTypeEnd, new SelectList(Model.IntervalTypes, "Value", "Key"), htmlAttributes: new { @class = "form-select", id = "EndInterval" })
        </div>
    </div>

    <div class="row" style="display:none;" id="divmotif">
        <div class="col-md-2">
            <label for="InputMotifRecup" class="col-form-label">Motif</label>
        </div>

        <div class="col-md-6">
            <input id="InputMotifRecup" asp-for="Motif" type="text" onkeypress="return event.keyCode!=13" autocomplete="off" class="form-control">
            <span asp-validation-for="Motif" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-secondary">Poser</button>
        </div>
    </div>

    <br />
    <br />
    <div class="row g-1">
        <label class="form-label col-md-8">(*) Plus de précisions selon les types de congés:</label>
        <label class="form-label col-md-8">- Vous devez d'abord écouler vos congés payés avant de poser des congés sans solde.</label>
        <label class="form-label col-md-8">- Les congés pour événements familiaux ne sont accordés que sur justificatif.</label>
        <label class="form-label col-md-8">- Les journées 'Enfants malades' sont encadrées: consultez les R.H. avant d'en déposer.</label>
    </div>
</form>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/jquery-ui/datepicker-fr.js"></script>
<script src="~/lib/jquery-ui/jquery.timepicker.min.js"></script>

<script>
    $(function () {
        $("#hourBegin").hide();
        $("#hourEnd").hide();
        $("#divmotif").hide();

        $.datepicker.setDefaults($.datepicker.regional["fr"]);
        $("#datepickerBegin").datepicker();
        $("#datepickerEnd").datepicker();

        $('#InputHourBegin').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            minTime: '8',
            maxTime: '18',
            startTime: '08',
            dynamic: false,
            dropdown: true,
            scrollbar: false
        });

        $('#InputHourEnd').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            minTime: '8',
            maxTime: '18',
            startTime: '08',
            dynamic: false,
            dropdown: true,
            scrollbar: false
        });
    });

    function CallChangefunc(val) {
        if (val == 3) {
            $("#hourBegin").show();
            $("#hourEnd").show();
            $("#amLabel").hide();
            $("#amInput").hide();
            $("#pm").hide();
            $("#datepickerEnd").hide();
        }
        else {
            $("#hourBegin").hide();
            $("#hourEnd").hide();
            $("#amLabel").show();
            $("#amInput").show();
            $("#pm").show();
            $("#datepickerEnd").show();
        }

        if ((val == 2) || (val == 3)) {
            $("#divmotif").show();
        }
        else {
            $("#divmotif").hide();
        }
    }
</script>
}
